body {
    background-color: rgb(19, 17, 17);
    color: beige;
}
h1{
    width: 100%;
    justify-content: center;
    text-align: center;
}

#palco{
    width: 50%;
    height: 550px;
    border: 3px #00FF00 solid;
    margin: 0 auto;
}

.caixa{
    width: 30.1%;
    height: 160px;
    border: 3px #00FF00 solid;
    margin: 10px;
    float: left;
    text-align: center;
    font-size: 6em;
}